@charset "UTF-8";

@media screen and (min-width: 959px){
    
* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    background-image: url(img/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-family: var(--var4);
    text-transform: uppercase;
    color: red;
    padding: 10px;
    text-shadow: 1px 1px white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#titulo2 {
    position: relative;
    right: 120px;
    top: 50px;
    margin: 0px;

    color: white;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 450px;
    height: 630px;
    

    border-radius: 5px;
    background-color: #0d1018c5;
}

.fbtn {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;

    border-radius: 5px;
    background-color: var(--var1);
}

#flog {
    width: 315px;
    height: 40px;
    
    border-radius: 5px;
    background-color: red;
}

#log:hover {
    text-shadow: 1px 0px 0px white;
}

#log {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: white;

    font-size: 20px;
}


#alternativa {
    margin: 20px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
    color: gray;
}

#pin:hover {
    text-shadow: 1px 0px 0px white;
}

#pin {
    margin-bottom: 20px;
    width: 315px;
    height: 50px;

    background-color: #3b3d3da9;
    border-radius: 5px;
    text-align: center;
}

#pin a {
    position: relative;
    top: 15px;

    color: white;
    text-decoration: none;
}

#recupsenha {
    margin: 0px 0px 20px 0px;
    text-align: center;
}

#recupsenha a {
    color: white;
    text-decoration: none;
}

label {
    color: white;
}

#inscri {
    margin: 20px 0px 20px 0px;
    position: relative;
    right: 45px;
    color: gray
}

#inscri a {
    color: white;
    text-decoration: none;
}

#secure {
    margin: 0px 0px 20px 0px;
    color: gray;
    width: 300px;
    font-size: 13px;
}

#secure a {
    text-decoration: none;
}


article {
    position: relative;
    top: 123px;
    
    width: 100vw;
    height: 410px;
    background-color: rgb(0, 0, 0);
}

article h2 {
    margin:20px;
    text-align: center;
    color: white;
}

article a {
    color: white;
}

article ul {
    position: relative;
    top: 80px;
}

li {
    display:block;            
    list-style-type: none;
    margin-bottom: 45px;                
    box-sizing: border-box;    
    height:25%;   
    text-align: center;            
  }
  
  li:nth-child(odd) {          
    clear:both;                
    float:left;               
    width:50%;
}


}