@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@media screen and (max-width: 599px){
    
* {
    margin: 0px;
    padding: 0px;
    clear: none;
}

:root {
    --var1: "Anton", sans-serif;
    --var2:"Oswald", sans-serif;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: red;
    height: 5vh;
    padding: 10px;
    text-shadow: 1px 1px white;
    
}

header h1 {
    font-family: var(--var2);
    letter-spacing: 3px;
    text-transform: uppercase;
}


main {
    margin: auto;
    margin-top: 10px;
    
    width: 90vw;
    height: 70vh;
    padding: 15px;
}

main h2 {
    margin-bottom: 20px;
    
}

.fbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    
    margin-bottom: 10px;

    background-color: #0F0F0F;
    color: white;
}

#flog {
    width: 88vw;
    height: 50px;
    
    margin-bottom: 10px;

    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    background-color: red;
}

#log:hover {
    text-shadow: 1px 0px 0px white;
}

#log {
    margin-top: 15px;
    border: 0px;
    font-size: 20px;


    color: white;
    background-color: #f0f8ff00;
}

#pin:hover {
    text-shadow: 1px 0px 0px white;
}

#pin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    width: 88vw;
    height: 50px;


    border-radius: 5px;
    background-color: #272727;
}

#alternativa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88vw;
}


#pin a {
    text-decoration: none;
    color: white;
}

#recupsenha {
    width: 88vw;
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
}

#recupsenha a {
    text-decoration: none;
    color: white;
}

#inscri {
    margin-top: 30px;
    margin-bottom: 40px;

    font-size: large;
    color: gray;
}

#inscri a {
    color: white;
    text-decoration: none;
}

#secure {
    width: 90vw;
    font-size: 13px;
    color: gray;
    margin-bottom: 100px;
}

#secure a {
    text-decoration: none;
    color: #0071C5;
}

article {
    
    border-top: 1px solid white;
    font-size: 13px;
}

article h2 {
    color: gray;
    padding: 20px;
}

article a {
    color: gray;
}

li {
    display:block;            
    list-style-type: none; 
    margin-left: 20px;   
    margin-bottom: 45px;                
    box-sizing: border-box;    
    height:25%;   
    text-align: start;            
  }
  
  li:nth-child(odd) {          
    clear:both;                
    float:left;               
    width:50%;                 
  }


}





